.precio-platillo {
    width: fit-content !important;
    position: absolute !important;
    right: 5px;
    top: 2px;
    font-size: 0.9rem !important;
}

.title-platillo {
    font-size: 1.0rem !important;
}

.btn-platillo-sesion {
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 65px;
}

.puntuaciones {
    position: absolute;
    bottom: 50px;
    left: 40px;
}
